
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />

<div class="card">
    <div class="card-header bg-dark ">

        <button class="btn btn-success" data-toggle="select" data-target="savas" style="background-color:tomato;color:white;width:35%;">
            Savaşçı seç :

        </button>

        <select name="select" id="ID" style="background-color:tomato;color:white;width:13%;">
            <option value="ID">Savaşcı Seçin</option>
            <option value="ID">Savaşçı Seçin</option>
        </select>


        <button class="btn btn-success" data-toggle="collapse" data-target="#div1" style="color:white;width:50%;">
            <a class="card-link text-light" data-toggle="collapse" href="#div1"> Başla </a>
        </button>

    </div>
    <div id="div1" class="collapse bg-dark text-light ">


        @* <h1>@item.SAVASCIADI</h1>*@
        <h1 style="float:left">Savaşçı 1</h1>
        <h1 style="float:right">Savaşçı 2</h1>

        <div style="  border:5px solid dark; text-align:center; padding: 120px 0 0 0; position:relative; top:50px"></div>


        <div class="card">
            <div class="card-header bg-dark ">



                <button class="btn btn-success" data-toggle="collapse" data-target="#div2" style="color:white;width:100%;">
                    <a class="card-link text-light" data-toggle="collapse" href="#div2"> Hamle Yap </a>
                </button>

            </div>
            <div id="div2" class="collapse bg-success text-light ">


                @* <h1>@item.SAVASCIADI</h1>*@
                <h1 class="text-center">
                    KAZANAN SAVAŞÇI
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                </h1>

            </div>
        </div>








    </div>
</div>

























